ion-input {
    border: 0.5px solid;
    border-radius: 20px;
    margin-bottom: 19px;
    margin-top: 10px;
    padding-left: 10px;
    border-color: var(--ion-color-orange);
    text-align: left;
    color: #000;
    background-color: white;
}