

<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
       <img src="../../assets/img/icon-home.png" width="80%" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
       <ion-button color="medium" size="large" (click)="start()">Inicio</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button color="medium" size="large" [routerLink]="['/game']">Continuar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button color="medium" size="large" (click)="formQuizz()">Contribuir</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>